table {
  display: block;
  overflow-x: auto;
  border-spacing: 0 30px;
}

table th {
  padding-top: 10px;
  padding-bottom: 10px;
}

table thead th {
  /* @extend %text-subtitle; */
  min-width: 150px;
  text-align: left;
}

table tbody th {
  /* @extend %text-body-bold; */
  text-align: left;
}

table td {
  /* @extend %text-body; */
  min-width: 200px;
  padding: 10px;
  color: black;
  text-align: left;
}

table tr {
  border: 1px solid green;
}
