table {
  display: block;
  overflow-x: auto;
  border-spacing: 0 15px;
}

table th {
  padding-top: 10px;
  padding-bottom: 10px;
}

table thead th {
  min-width: 150px;
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
}

table tbody th {
  text-align: left;
}

table td {
  min-width: 200px;
  padding: 10px;
  color: black;
  text-align: left;
}

